---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
classes: wide
entries_layout: grid
---


{% include base_path %}

<h2>PVD/CVD</h2><hr />
<div class="grid__wrapper">
{% for post in site.portfolio reversed %}
  {% if post.project_area == "pvd_cvd" %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}
</div>

<h2>High-throughput robot</h2><hr />
<div class="grid__wrapper">
{% for post in site.portfolio reversed %}
  {% if post.project_area == "robot" %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}
</div>

<h2>Electrochemistry</h2><hr />
<div class="grid__wrapper">
{% for post in site.portfolio reversed %}
  {% if post.project_area == "electrochemistry" %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}
</div>

<h2>Imaging</h2>
<hr />
<div class="grid__wrapper">
  {% for post in site.portfolio reversed %}
    {% if post.project_area == "imaging" %}
      {% include archive-single.html type="grid" %}
    {% endif %}
  {% endfor %}
</div>

<p>Total portfolio items: {{ site.portfolio | size }}</p>
