---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Thin films by CVD and PVD</h2>
<hr />
{% for post in site.portfolio reversed %}
  {% if post.project_area == "thin_films" %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}

<h2>Batteries</h2>
<hr />
{% for post in site.portfolio reversed %}
  {% if post.project_area == "batteries" %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}


