---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>PVD/CVD</h2>
<hr />
{% for post in site.portfolio reversed %}
  {% if post.project_area == "pvd_cvd" %}
    {% include archive-single-project.html %}
  {% endif %}
{% endfor %}

<h2>High-throughput robot</h2>
<hr />
{% for post in site.portfolio reversed %}
  {% if post.project_area == "robot" %}
    {% include archive-single-project.html %}
  {% endif %}
{% endfor %}

<h2>Electrochemistry</h2>
<hr />
{% for post in site.portfolio reversed %}
  {% if post.project_area == "electrochemistry" %}
    {% include archive-single-project.html %}
  {% endif %}
{% endfor %}

